<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages>
        <controls>
          <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        </controls>
      </pages>
    </system.web>
  <system.codedom>
    
  </system.codedom>
  <connectionStrings>
	  <add name="SAF" connectionString="Data Source=DESKTOP-MRADK6O\SQLEXPRESS;Initial Catalog=INAB_SAF;DataBase=INAB_SAF;User Id=usuario1;Password=123456;" />
  </connectionStrings>
  

</configuration>
